In [1]:
from os import listdir
from os.path import isfile, join
import numpy as np
import re
import pandas as pd
import numpy as np

### Processing New, Mitochondria/Chloroplast Removed Data

#### The purpose of this code is to create CSVs of the original data from superkingdom to species level taxonomy

In [2]:
#File Path
leaf_path_1 = r"C:\Users\15404\Documents\GitHub\research_project\Final_Processing\Data\original_data\5488_soil\\"

In [3]:
file_list = [f for f in listdir(leaf_path_1) if isfile(join(leaf_path_1, f))]
# print(len(file_list))

In [4]:
taxon_list = ['superkingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'strain']

In [5]:
for taxon_level in taxon_list:
    df1 = pd.DataFrame(columns = ['sample', 'taxon_id', 'level', 'taxon_path', 'taxon', 'val'])
    for tsv in file_list:
        with open(leaf_path_1 + tsv, 'r') as myfile:
            line_list = []
            for line in myfile:
                if line[0] != '@' and len(line) > 1:
                    fileContent = re.sub("\t", ",", line)
                    fileContent = re.sub("\n", "", fileContent)
                    new_line = fileContent.split(',')    
                    if new_line[1] == taxon_level and taxon_level != 'strain' and "||" not in line:
                        line_list.append(new_line)
                    elif new_line[1] == taxon_level and taxon_level == 'strain' and "||" not in line:
                        line_list.append(new_line[0:5])
        df2 = pd.DataFrame(line_list)
        df2.rename(columns = {0:'taxon_id', 1:'level', 2:'taxon_path', 3:'taxon', 4:'val'}, inplace = True) 
        df2.insert(0, "sample", [tsv]*len(line_list), True)
        
        df1 = pd.concat([df1, df2], ignore_index=True)
    csv_name = 'rerun_soil_microbiome_' + taxon_level +'.csv'
    df1.to_csv(csv_name)
    print(csv_name)
    print(taxon_level)
    print(df1.shape)

rerun_soil_microbiome_superkingdom.csv
superkingdom
(364, 6)
rerun_soil_microbiome_phylum.csv
phylum
(5141, 6)
rerun_soil_microbiome_class.csv
class
(7323, 6)
rerun_soil_microbiome_order.csv
order
(14409, 6)
rerun_soil_microbiome_family.csv
family
(29633, 6)
rerun_soil_microbiome_genus.csv
genus
(96166, 6)
rerun_soil_microbiome_species.csv
species
(409153, 6)
rerun_soil_microbiome_strain.csv
strain
(409153, 6)

In [6]:
df1.head()

,sample,taxon_id,level,taxon_path,taxon,val
0,JP_CMB_10_S135_L002_R1_001,1274631.0,strain,2|1224|28211|356|41294|374|1274631|1274631.0,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.10423
1,JP_CMB_10_S135_L002_R1_001,1882747.0,strain,2|1224|28211|356|41294|1033|1882747|1882747.0,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.08656
2,JP_CMB_10_S135_L002_R1_001,335659.0,strain,2|1224|28211|356|41294|374|335659|335659.0,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.08652
3,JP_CMB_10_S135_L002_R1_001,1437360.0.1,strain,2|1224|28211|356|41294|374|1437360|1437360.0.1,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.08649
4,JP_CMB_10_S135_L002_R1_001,1404768.0,strain,2|1224|28211|356|41294|374|1404768|1404768.0,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.0788