In [40]:
from os import listdir
from os.path import isfile, join
import numpy as np
import re
import pandas as pd
import numpy as np
import dataProcessing as DP

In [41]:
my_path = '/Users/15404/Documents/GitHub/research_project/rarefaction_curve/rarefaction_curve_data_202109/'
df = DP.data_processing(my_path, 'phylum', False)
df.head()

,samples,paired_end,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,Bacteria|Aquificae,Bacteria|Armatimonadetes,Bacteria|Bacteroidetes,...,Bacteria|candidate division AD3,Bacteria|candidate division CPR2,Bacteria|candidate division NC10,Bacteria|candidate division WPS-2,Bacteria|candidate division WWE3,Eukaryota|Apicomplexa,Eukaryota|Ascomycota,Eukaryota|Basidiomycota,Eukaryota|Chlorophyta,Eukaryota|Mucoromycota
0,A01,R1,0.00025,0.00288,0.00016,0.39156,7.16024,0.0,0.00445,0.23882,...,0.00172,0.00000,0.00089,0.00000,0.00010,0.00014,0.00496,0.00089,0.00034,0.00025
1,B01,R2,0.00119,0.03900,0.00000,0.25991,5.16737,0.0,0.00615,0.36702,...,0.00000,0.00000,0.00042,0.00000,0.00000,0.00000,0.00301,0.00000,0.00000,0.00028
2,C01,R1,0.00000,0.00253,0.00042,0.31979,8.27919,0.0,0.00468,0.46219,...,0.00030,0.00000,0.00317,0.00049,0.00019,0.00036,0.00613,0.00132,0.00018,0.00029
3,D01,R2,0.00000,0.04064,0.00617,0.31951,11.79747,0.0,0.00277,0.13200,...,0.00000,0.00000,0.00017,0.00000,0.00000,0.00000,0.00626,0.00085,0.00000,0.00000
4,E01,R1,0.00018,0.05380,0.02756,0.43642,8.76166,0.0,0.00671,0.31792,...,0.00133,0.00023,0.00063,0.00016,0.00024,0.00020,0.00593,0.00169,0.00113,0.00020

In [42]:
df1 = df[['samples', 'paired_end']]

In [43]:
df1

  samples paired_end
0     A01         R1
1     B01         R2
2     C01         R1
3     D01         R2
4     E01         R1
5     F01         R2
6     G01         R1
7     H01         R2

In [44]:
df2 = df.drop(['samples', 'paired_end'], axis = 1)

In [45]:
df2

,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,Bacteria|Aquificae,Bacteria|Armatimonadetes,Bacteria|Bacteroidetes,Bacteria|Calditrichaeota,Bacteria|Candidatus Adlerbacteria,...,Bacteria|candidate division AD3,Bacteria|candidate division CPR2,Bacteria|candidate division NC10,Bacteria|candidate division WPS-2,Bacteria|candidate division WWE3,Eukaryota|Apicomplexa,Eukaryota|Ascomycota,Eukaryota|Basidiomycota,Eukaryota|Chlorophyta,Eukaryota|Mucoromycota
0,0.00025,0.00288,0.00016,0.39156,7.16024,0.00000,0.00445,0.23882,0.00000,0.00000,...,0.00172,0.00000,0.00089,0.00000,0.00010,0.00014,0.00496,0.00089,0.00034,0.00025
1,0.00119,0.03900,0.00000,0.25991,5.16737,0.00000,0.00615,0.36702,0.00000,0.00000,...,0.00000,0.00000,0.00042,0.00000,0.00000,0.00000,0.00301,0.00000,0.00000,0.00028
2,0.00000,0.00253,0.00042,0.31979,8.27919,0.00000,0.00468,0.46219,0.00000,0.00000,...,0.00030,0.00000,0.00317,0.00049,0.00019,0.00036,0.00613,0.00132,0.00018,0.00029
3,0.00000,0.04064,0.00617,0.31951,11.79747,0.00000,0.00277,0.13200,0.00000,0.00000,...,0.00000,0.00000,0.00017,0.00000,0.00000,0.00000,0.00626,0.00085,0.00000,0.00000
4,0.00018,0.05380,0.02756,0.43642,8.76166,0.00000,0.00671,0.31792,0.00000,0.00107,...,0.00133,0.00023,0.00063,0.00016,0.00024,0.00020,0.00593,0.00169,0.00113,0.00020
5,0.00011,0.04298,0.00335,0.27543,10.15620,0.00025,0.00212,0.22930,0.00000,0.00023,...,0.00022,0.00000,0.00297,0.00024,0.00026,0.00000,0.00457,0.00088,0.00026,0.00015
6,0.00000,0.03255,0.00410,0.38183,8.78710,0.00000,0.00576,0.37005,0.00000,0.00103,...,0.00000,0.00000,0.00070,0.00012,0.00000,0.00033,0.00523,0.00214,0.00077,0.00017
7,0.00000,0.04557,0.00393,0.19647,7.62594,0.00000,0.00407,0.38814,0.00038,0.00054,...,0.00092,0.00023,0.00466,0.00000,0.00048,0.00033,0.00532,0.00200,0.00059,0.00020

In [46]:
length_09_list = [745096, 200864, 1956530, 245000, 2084321, 1379168, 3224382, 6772713]
final_list = []
for item in length_09_list:
    final_list.append((int(item/4)))
print(final_list)

[186274, 50216, 489132, 61250, 521080, 344792, 806095, 1693178]

In [47]:
#df.mul([1, 100], axis=0)
df2 = df2.mul(final_list, axis = 0)

In [48]:
df2

,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,Bacteria|Aquificae,Bacteria|Armatimonadetes,Bacteria|Bacteroidetes,Bacteria|Calditrichaeota,Bacteria|Candidatus Adlerbacteria,...,Bacteria|candidate division AD3,Bacteria|candidate division CPR2,Bacteria|candidate division NC10,Bacteria|candidate division WPS-2,Bacteria|candidate division WWE3,Eukaryota|Apicomplexa,Eukaryota|Ascomycota,Eukaryota|Basidiomycota,Eukaryota|Chlorophyta,Eukaryota|Mucoromycota
0,46.56850,536.46912,29.80384,72937.44744,1.333767e+06,0.000,828.91930,44485.95668,0.00000,0.00000,...,320.39128,0.00000,165.78386,0.00000,18.62740,26.07836,923.91904,165.78386,63.33316,46.56850
1,59.75704,1958.42400,0.00000,13051.64056,2.594847e+05,0.000,308.82840,18430.27632,0.00000,0.00000,...,0.00000,0.00000,21.09072,0.00000,0.00000,0.00000,151.15016,0.00000,0.00000,14.06048
2,0.00000,1237.50396,205.43544,156419.52228,4.049617e+06,0.000,2289.13776,226071.91908,0.00000,0.00000,...,146.73960,0.00000,1550.54844,239.67468,92.93508,176.08752,2998.37916,645.65424,88.04376,141.84828
3,0.00000,2489.20000,377.91250,19569.98750,7.225950e+05,0.000,169.66250,8085.00000,0.00000,0.00000,...,0.00000,0.00000,10.41250,0.00000,0.00000,0.00000,383.42500,52.06250,0.00000,0.00000
4,93.79440,28034.10400,14360.96480,227409.73360,4.565526e+06,0.000,3496.44680,165661.75360,0.00000,557.55560,...,693.03640,119.84840,328.28040,83.37280,125.05920,104.21600,3090.00440,880.62520,588.82040,104.21600
5,37.92712,14819.16016,1155.05320,94966.06056,3.501777e+06,86.198,730.95904,79060.80560,0.00000,79.30216,...,75.85424,0.00000,1024.03224,82.75008,89.64592,0.00000,1575.69944,303.41696,89.64592,51.71880
6,0.00000,26238.39225,3304.98950,307791.25385,7.083237e+06,0.000,4643.10720,298295.45475,0.00000,830.27785,...,0.00000,0.00000,564.26650,96.73140,0.00000,266.01135,4215.87685,1725.04330,620.69315,137.03615
7,0.00000,77158.12146,6654.18954,332658.68166,1.291207e+07,0.000,6891.23446,657190.10892,643.40764,914.31612,...,1557.72376,389.43094,7890.20948,0.00000,812.72544,558.74874,9007.70696,3386.35600,998.97502,338.63560

In [53]:
df2['samples'] = df1['samples']

In [54]:
df2.head()

,Archaea|Crenarchaeota,Archaea|Euryarchaeota,Archaea|Thaumarchaeota,Bacteria|Acidobacteria,Bacteria|Actinobacteria,Bacteria|Aquificae,Bacteria|Armatimonadetes,Bacteria|Bacteroidetes,Bacteria|Calditrichaeota,Bacteria|Candidatus Adlerbacteria,...,Bacteria|candidate division CPR2,Bacteria|candidate division NC10,Bacteria|candidate division WPS-2,Bacteria|candidate division WWE3,Eukaryota|Apicomplexa,Eukaryota|Ascomycota,Eukaryota|Basidiomycota,Eukaryota|Chlorophyta,Eukaryota|Mucoromycota,samples
0,46.56850,536.46912,29.80384,72937.44744,1.333767e+06,0.0,828.91930,44485.95668,0.0,0.0000,...,0.0000,165.78386,0.00000,18.62740,26.07836,923.91904,165.78386,63.33316,46.56850,A01
1,59.75704,1958.42400,0.00000,13051.64056,2.594847e+05,0.0,308.82840,18430.27632,0.0,0.0000,...,0.0000,21.09072,0.00000,0.00000,0.00000,151.15016,0.00000,0.00000,14.06048,B01
2,0.00000,1237.50396,205.43544,156419.52228,4.049617e+06,0.0,2289.13776,226071.91908,0.0,0.0000,...,0.0000,1550.54844,239.67468,92.93508,176.08752,2998.37916,645.65424,88.04376,141.84828,C01
3,0.00000,2489.20000,377.91250,19569.98750,7.225950e+05,0.0,169.66250,8085.00000,0.0,0.0000,...,0.0000,10.41250,0.00000,0.00000,0.00000,383.42500,52.06250,0.00000,0.00000,D01
4,93.79440,28034.10400,14360.96480,227409.73360,4.565526e+06,0.0,3496.44680,165661.75360,0.0,557.5556,...,119.8484,328.28040,83.37280,125.05920,104.21600,3090.00440,880.62520,588.82040,104.21600,E01

In [56]:
df2 = df2.reset_index()

In [57]:
df2.to_csv('final_rarefaction_data_202109_phylum.csv')