In [1]:
# to do:
# combine rerun_1 and rerun_2
# add sample_id to files
# get files in correct format for sqldb

In [1]:
import os
from os import listdir
from os.path import isfile, join
import numpy as np
import re
import pandas as pd
import numpy as np

In [2]:
leaf_path_1 = r"C:\Users\15404\Documents\GitHub\research_project\Final_Processing\rerun_1_kingdom_to_strain"
leaf_path_2 = r"C:\Users\15404\Documents\GitHub\research_project\Final_Processing\rerun_2_kingdom_to_strain"

In [3]:
file_list_1 = os.listdir(leaf_path_1)
file_list_2 = os.listdir(leaf_path_2)

print(len(file_list_1))
print(len(file_list_2))


print("Files and directories in '", leaf_path_1, "':")
print((file_list_2))

8
8
Files and directories in ' C:\Users\15404\Documents\GitHub\research_project\Final_Processing\rerun_1_kingdom_to_strain ':
['rerun_2_leaf_microbiome_class.csv', 'rerun_2_leaf_microbiome_family.csv', 'rerun_2_leaf_microbiome_genus.csv', 'rerun_2_leaf_microbiome_order.csv', 'rerun_2_leaf_microbiome_phylum.csv', 'rerun_2_leaf_microbiome_species.csv', 'rerun_2_leaf_microbiome_strain.csv', 'rerun_2_leaf_microbiome_superkingdom.csv']

In [4]:
name_list = ['class', 'family', 'genus', 'order', 'phylum', 'species', 'strain', 'superkingdom']
len(name_list)

8

In [5]:
site_df = pd.read_csv('edited_leaf_site_list.csv')
print(site_df.shape)

(192, 3)

In [6]:
for i in zip(file_list_1, file_list_2, name_list):
    testdf1 = pd.read_csv('../rerun_1_kingdom_to_strain/' + str(i[0]))
    testdf2 = pd.read_csv('../rerun_2_kingdom_to_strain/' + str(i[1]))
    testdf3 = pd.concat([testdf1, testdf2], ignore_index=True)
    sample_list = []
    for samples in testdf3['sample'].unique():
        sample_list.append(samples[0:4])

    sample_ids = []
    for ids in sample_list:
        sample_ids.append((site_df[site_df['samples'] == ids]['sample_id']).values[0])

    testdf3['sample_id'] = testdf3['sample']
    
    for info in zip(testdf3['sample'].unique(), sample_ids):
        testdf3['sample_id'] = testdf3['sample_id'].replace([info[0]], info[1])
        
    testdf3 = testdf3.drop(['Unnamed: 0', 'taxon_id', 'taxon_path', 'level', 'sample'], axis =1)
    
    csv_name = "processed_leaf_data/leaf_microbiome_" + i[2] + '.csv'
#     print(csv_name)
    print(testdf3.shape)
#     print(testdf3['sample_id'].unique())
    testdf3.to_csv(csv_name)

(6438, 3)
(23710, 3)
(48534, 3)
(13573, 3)
(3023, 3)
(178091, 3)
(178091, 3)
(756, 3)

In [4]:
df1 = pd.read_csv(r"C:\Users\15404\Documents\GitHub\research_project\Final_Processing\rerun_1_kingom_to_strain\rerun_1_leaf_microbiome_genus.csv")
df2 = pd.read_csv(r"C:\Users\15404\Documents\GitHub\research_project\Final_Processing\rerun_2_kingdom_to_strain\rerun_2_leaf_microbiome_genus.csv")

In [5]:
df1.head()

,Unnamed: 0,sample,taxon_id,level,taxon_path,taxon,val
0,0,1A01_S1_L001_R1_001,1716,genus,2|201174|1760|85007|1653|1716,Bacteria|Actinobacteria|Actinobacteria|Coryneb...,0.63776
1,1,1A01_S1_L001_R1_001,374,genus,2|1224|28211|356|41294|374,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.11405
2,2,1A01_S1_L001_R1_001,286,genus,2|1224|1236|72274|135621|286,Bacteria|Proteobacteria|Gammaproteobacteria|Ps...,0.11190
3,3,1A01_S1_L001_R1_001,89966,genus,2|976|768503|768507|1853232|89966,Bacteria|Bacteroidetes|Cytophagia|Cytophagales...,0.09485
4,4,1A01_S1_L001_R1_001,13687,genus,2|1224|28211|204457|41297|13687,Bacteria|Proteobacteria|Alphaproteobacteria|Sp...,0.08559

In [6]:
df2.head()

,Unnamed: 0,sample,taxon_id,level,taxon_path,taxon,val
0,0,2A01_S97_L002_R1_001,286,genus,2|1224|1236|72274|135621|286,Bacteria|Proteobacteria|Gammaproteobacteria|Ps...,4.18999
1,1,2A01_S97_L002_R1_001,33882,genus,2|201174|1760|85006|85023|33882,Bacteria|Actinobacteria|Actinobacteria|Microco...,0.17281
2,2,2A01_S97_L002_R1_001,1612198,genus,2|976|1853228|1853229|563835|1612198,Bacteria|Bacteroidetes|Chitinophagia|Chitinoph...,0.09946
3,3,2A01_S97_L002_R1_001,89966,genus,2|976|768503|768507|1853232|89966,Bacteria|Bacteroidetes|Cytophagia|Cytophagales...,0.06849
4,4,2A01_S97_L002_R1_001,374,genus,2|1224|28211|356|41294|374,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.05341

In [7]:
print(df1.shape)
print(df2.shape)

(19467, 7)
(24403, 7)

In [8]:
df3 = pd.concat([df1, df2], ignore_index=True)

In [9]:
df3.shape

(43870, 7)

In [10]:
site_df = pd.read_csv('leaf_site_list.csv')

In [11]:
sample_list = []
for i in df3['sample'].unique():
    sample_list.append(i[0:4])

print(sample_list[0:3])
print(len(sample_list))

['1A01', '1A02', '1A03']
176

In [12]:
sample_ids = []
for i in sample_list:
    sample_ids.append((site_df[site_df['samples'] == i]['sample_id']).values[0])

print(sample_ids[0:5])
print(len(sample_ids))

['RRL1', 'RRL9', 'RRL17', 'FRW3', 'FRW12']
176

In [13]:
df3['sample_id'] = df3['sample']

In [14]:
df3.head()

,Unnamed: 0,sample,taxon_id,level,taxon_path,taxon,val,sample_id
0,0,1A01_S1_L001_R1_001,1716,genus,2|201174|1760|85007|1653|1716,Bacteria|Actinobacteria|Actinobacteria|Coryneb...,0.63776,1A01_S1_L001_R1_001
1,1,1A01_S1_L001_R1_001,374,genus,2|1224|28211|356|41294|374,Bacteria|Proteobacteria|Alphaproteobacteria|Rh...,0.11405,1A01_S1_L001_R1_001
2,2,1A01_S1_L001_R1_001,286,genus,2|1224|1236|72274|135621|286,Bacteria|Proteobacteria|Gammaproteobacteria|Ps...,0.11190,1A01_S1_L001_R1_001
3,3,1A01_S1_L001_R1_001,89966,genus,2|976|768503|768507|1853232|89966,Bacteria|Bacteroidetes|Cytophagia|Cytophagales...,0.09485,1A01_S1_L001_R1_001
4,4,1A01_S1_L001_R1_001,13687,genus,2|1224|28211|204457|41297|13687,Bacteria|Proteobacteria|Alphaproteobacteria|Sp...,0.08559,1A01_S1_L001_R1_001

In [18]:
for info in zip(df3['sample'].unique(), sample_ids):
    df3['sample_id'] = df3['sample_id'].replace([info[0]], info[1])

In [19]:
df3.tail()

,Unnamed: 0,sample,taxon_id,level,taxon_path,taxon,val,sample_id
43865,24398,2H12_S192_L002_R1_001,360145,genus,2759|4890|147550|5151|5152|360145,Eukaryota|Ascomycota|Sordariomycetes|Ophiostom...,0.00011,RF12
43866,24399,2H12_S192_L002_R1_001,544,genus,2|1224|1236|91347|543|544,Bacteria|Proteobacteria|Gammaproteobacteria|En...,0.00010,RF12
43867,24400,2H12_S192_L002_R1_001,5073,genus,2759|4890|147545|5042|1131492|5073,Eukaryota|Ascomycota|Eurotiomycetes|Eurotiales...,0.00010,RF12
43868,24401,2H12_S192_L002_R1_001,228398,genus,2|201174|1760|85011|2062|228398,Bacteria|Actinobacteria|Actinobacteria|Strepto...,0.00010,RF12
43869,24402,2H12_S192_L002_R1_001,649460,genus,2|976|1853228|1853229|563835|649460,Bacteria|Bacteroidetes|Chitinophagia|Chitinoph...,0.00010,RF12

In [21]:
df3['sample_id'].unique()

array(['RRL1', 'RRL9', 'RRL17', 'FRW3', 'FRW12', 'MMP7', 'MMP15', 'PNR3',
       'CMB13', 'CMB21', 'SLG1', 'SLG13', 'RRL2', 'RRL10', 'RRL18',
       'FRW4', 'FRW13', 'MMP8', 'MMP16', 'CMB6', 'CMB14', 'CMB22', 'SLG2',
       'SLG14', 'RRL3', 'RRL11', 'RRL19', 'CMB15', 'RRL4', 'RRL12',
       'FRW6', 'MMP2', 'MMP10', 'MMP18', 'CMB24', 'SLG4', 'SLG18', 'FRW8',
       'MMP3', 'MMP11', 'MMP19', 'CMB9', 'CMB17', 'CMB25', 'SLG5',
       'SLG15', 'RRL6', 'RRL14', 'RRL22', 'FRW9', 'MMP4', 'MMP12',
       'MMP20', 'CMB10', 'CMB18', 'CMB26', 'SLG6', 'SLG20', 'RRL7',
       'RRL15', 'FRW1', 'FRW10', 'MMP5', 'MMP13', 'PNR1', 'CMB11',
       'CMB19', 'CMB27', 'SLG8', 'SLG23', 'RRL8', 'RRL16', 'FRW2',
       'FRW11', 'MMP6', 'MMP14', 'PNR2', 'RF13', 'CMB20', 'CMB28',
       'SLG10', 'LFS1', 'LFS2', 'LFS11', 'SGC4', 'SGC12', 'HR1', 'PTW3',
       'GH1', 'LM7', 'LM15', 'LM23', 'MKP5', 'RF5', 'LFS3', 'LFS12',
       'SGC5', 'RGT1', 'HR2', 'PTW4', 'GH2', 'LM8', 'LM16', 'LM25',
       'MKP6', 'LFS4', 'LFS13', 'SGC6', 'RGT2', 'HR3', 'PTW5', 'LM1',
       'LM9', 'LM17', 'SLG21', 'MKP7', 'LFS5', 'LFS14', 'SGC7', 'RGT3',
       'HR4', 'PTW6', 'SLG17', 'LM10', 'LM18', 'LM28', 'MKP8', 'RF8',
       'LFS6', 'LFS15', 'SGC8', 'RGT4', 'HR5', 'PTW7', 'LM3', 'LM11',
       'LM19', 'MKP1', 'RF1', 'RF9', 'LFS7', 'SGC1', 'SGC9', 'RGT5',
       'HR6', 'PTW8', 'LM4', 'LM12', 'LM20', 'MKP2', 'RF2', 'RF10',
       'LFS8', 'SGC2', 'SGC10', 'RGT6', 'PTW1', 'PTW9', 'LM5', 'LM13',
       'LM21', 'MKP3', 'RF3', 'RF11', 'LFS9', 'SGC3', 'SGC11', 'RGT7',
       'PTW2', 'PTW10', 'LM6', 'LM14', 'LM22', 'MKP4', 'RF4', 'RF12'],
      dtype=object)

In [26]:
df3 = df3.drop(['Unnamed: 0', 'taxon_id', 'taxon_path', 'level', 'sample'], axis =1)

In [27]:
df3.to_csv("leaf_microbiome_genus.csv")