In [1]:
import pandas as pd
import numpy as np
import sqlite3
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
import statsmodels
import statsmodels.api as sm
from statsmodels.multivariate.manova import MANOVA
from scipy import stats

from useful_functions import *

In [2]:
table = "tPlantMicrobeGenera"
full_df = import_microbe_data(table)
full_df.shape

(0, 3)

In [4]:
tables_to_join = ["tPlantMicrobeGenera", "tSample", "tPlantDNA"]
common_column = "sample_id"
full_df = import_all_data(tables_to_join, common_column)
full_df.shape

DatabaseError: Execution failed on sql 'SELECT * FROM tPlantMicrobeGenera JOIN tSample ON tPlantMicrobeGenera.sample_id = tSample.sample_id JOIN tPlantDNA ON tPlantMicrobeGenera.sample_id = tPlantDNA.sample_id': database is locked

In [ ]:
full_df.head()