In [1]:
import pandas as pd
import numpy as np
import sqlite3

# Create DB File and Connect

In [2]:
# can add STRICT to the end of generating a table to produce a strict adherence to data types

# can use "CHECK(len(loc_id) == 1)"
# can use anything that evaluates to true or false

In [3]:
# Connect to the database. If it does not exist, it will be created
conn = sqlite3.connect('test3.db')
# Create a cursor object. This is how we interact with the database
curs = conn.cursor()


### IMPORTANT!!! ###
# By default, sqlite does not enforce foreign key constraints. 
# According to the documentation, this is for backwards compatibility. You have to turn them on yourself.
curs.execute('PRAGMA foreign_keys=ON;')

## Define and Create TSample

In [4]:
# Define the tables

# If running this more than once, you'll need to drop the table before you can redefine it

curs.execute("DROP TABLE IF EXISTS tSample;")

sql = """
CREATE TABLE tSample (
    sample_id TEXT PRIMARY KEY,
    site_id TEXT,
    collect_date DATETIME
)
;"""
curs.execute(sql)

In [5]:
tsampledf = pd.read_csv('./csv_folder/sample.csv')

In [6]:
# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tSample (sample_id, site_id, collect_date) VALUES (:sample_id, :site_id, :date)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsampledf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [7]:
sql = """
CREATE VIEW tSample AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tSample;", conn)

    sample_id site_id collect_date
0      BLDTT0     BLD    6/29/2020
1      BLDTT1     BLD    6/29/2020
2      BLDTT2     BLD    6/29/2020
3      BLDTT3     BLD    6/29/2020
4      BLDTT4     BLD    6/29/2020
5      BLDTT5     BLD    6/29/2020
6      BLDTT6     BLD    6/29/2020
7      BLDTT7     BLD    6/29/2020
8      BLDTT8     BLD    6/29/2020
9      BLDTT9     BLD    6/29/2020
10    BLDTT10     BLD    6/29/2020
11    BLDTT11     BLD    6/29/2020
12    BLDTT12     BLD    6/29/2020
13    BLDTT13     BLD    6/29/2020
14    BLDTT14     BLD    6/29/2020
15    BLDTT15     BLD    6/29/2020
16    BLDTT16     BLD    6/29/2020
17    BLDTT17     BLD    6/29/2020
18    BLDTT18     BLD    6/29/2020
19    BLDTT19     BLD    6/29/2020
20    BLDTT20     BLD    6/29/2020
21    BLDTT21     BLD    6/29/2020
22    BLDTT22     BLD    6/29/2020
23    BLDTT23     BLD    6/29/2020
24    BLDTT24     BLD    6/29/2020
25    BLDTT25     BLD    6/29/2020
26    BLDTT26     BLD    6/29/2020
27    BLDTT27     BLD    6/29/2020
28    BLDTT28     BLD    6/29/2020
29    BLDTT29     BLD    6/29/2020
..        ...     ...          ...
410      RF10      RF     7/6/2021
411      RF11      RF     7/6/2021
412      RF12      RF     7/6/2021
413      RF13      RF     7/6/2021
414      TCP1     TCP     7/6/2021
415      TCP2     TCP     7/6/2021
416      TCP3     TCP     7/6/2021
417      TCP4     TCP     7/6/2021
418      TCP5     TCP     7/6/2021
419      TCP6     TCP     7/6/2021
420      TCP7     TCP     7/6/2021
421      TCP8     TCP     7/6/2021
422      TCP9     TCP     7/6/2021
423     TCP10     TCP     7/6/2021
424      PNR1     PNR     7/5/2021
425      PNR2     PNR     7/5/2021
426      PNR3     PNR     7/5/2021
427      PNR4     PNR     7/5/2021
428      PNR5     PNR     7/5/2021
429      PNR6     PNR     7/5/2021
430      PNR7     PNR     7/5/2021
431      PNR8     PNR     7/5/2021
432      PNR9     PNR     7/5/2021
433     PNR10     PNR     7/5/2021
434     PNR11     PNR     7/5/2021
435     PNR12     PNR     7/5/2021
436     PNR13     PNR     7/5/2021
437     PNR14     PNR     7/5/2021
438     PNR15     PNR     7/5/2021
439     PNR16     PNR     7/5/2021

[440 rows x 3 columns]

## Define and Create TMorphology

In [8]:
tmorphdf = pd.read_csv('./csv_folder/plant_morphology.csv')
tmorphdf.shape

(493, 12)

In [9]:
tmorphdf = tmorphdf.rename(columns={'Ht(cm)': 'plant_ht', '# Leaves': 'num_leaves', 'Length LL (cm)': 'longest_leaf_cm',
                                     'Width LL (cm)': 'widest_leaf_cm', 'Stem Diameter (mm)': 'stem_diam_mm',
                                     '# Inflorescences': 'num_inflores', '# Flowers Per (x2)': 'num_flowers',
                                     'Herbivory': 'herbivory', 'Species': 'species'})
tmorphdf = tmorphdf.drop('date', axis= 1)
tmorphdf = tmorphdf.drop('site_id',  axis = 1)
tmorphdf.head()

,sample_id,species,plant_ht,num_leaves,longest_leaf_cm,widest_leaf_cm,stem_diam_mm,num_inflores,num_flowers,herbivory
0,BLDTT0,NaN,93.3,22,16.5,7.3,10.5,5,"46(1), 53(1)","1=5, 2=1"
1,BLDTT0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BLDTT1,NaN,70.7,14,15.4,7.1,8.9,5,"20(2), 25(5)","1=2, 2=3"
3,BLDTT1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BLDTT2,NaN,83.4,18,15.6,7.4,11.9,7,"24(3), 19(4)","1=3, 2=1"

In [10]:
tmorphdf = tmorphdf.drop_duplicates(subset=['sample_id'])
tmorphdf.shape

(440, 10)

In [11]:
# Define the tables

# If running this more than once, you'll need to drop the table before you can redefine it

curs.execute("DROP TABLE IF EXISTS tMorphology;")

sql = """
CREATE TABLE tMorphology (
    sample_id TEXT PRIMARY KEY,
    species TEXT,
    plant_ht REAL,
    num_leaves INTEGER,
    longest_leaf_cm REAL,
    widest_leaf_cm REAL,
    stem_diam_mm REAL,
    num_inflores INTEGER,
    num_flowers INTEGER,
    herbivory TEXT
)
;"""
curs.execute(sql)

# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tMorphology (sample_id, species, plant_ht, num_leaves,
    longest_leaf_cm, widest_leaf_cm, stem_diam_mm, num_inflores,
    num_flowers, herbivory) VALUES (:sample_id, :species, :plant_ht, :num_leaves,
    :longest_leaf_cm, :widest_leaf_cm, :stem_diam_mm, :num_inflores,
    :num_flowers, :herbivory)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works

# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tmorphdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

## Create TSoilNutrients

In [12]:
curs.execute("DROP TABLE IF EXISTS tSoilNutrients;")
#Organic Matter % Rate	Estimated Nitrogen Release (lbs/A)	Cation Exchange Capacity (meq/100g)	
#pH	Buffer pH	Phosphorus ppm	Potassium ppm	Calcium ppm	Magnesium ppm	
#Sulfur ppm	Sodium ppm	Zinc ppm	Manganese ppm	Iron ppm	Copper ppm	Boron ppm

sql = """
CREATE TABLE tSoilNutrients (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    OM REAL,
    ENR REAL,
    CEC REAL,
    pH REAL,
    BpH REAL,
    Phosphorus REAL,
    Potassium REAL,
    Calcium REAL,
    Magnesium REAL,
    Sulfur REAL,
    Sodium REAL,
    Zinc REAL,
    Manganese REAL,
    Iron REAL,
    Copper REAL,
    Boron REAL,
    PRIMARY KEY (sample_id)
)
;"""

curs.execute(sql)

In [13]:
tsoilnutrientdf = pd.read_csv('./csv_folder/soil_nutrients.csv')
tsoilnutrientdf.shape

(423, 18)

In [14]:
tsoilnutrientdf = tsoilnutrientdf.drop('site', axis = 1)

In [15]:
tsoilnutrientdf = tsoilnutrientdf.drop_duplicates('sample_id')

In [16]:
tsoilnutrientdf.tail()

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
418,PNR13,5.8,142,20.4,7.7,6.93,21,78,3777,155,12,13,3.7,98,92,1.1,1.1
419,PNR14,4.2,110,22.3,7.6,6.93,9,45,4217,131,9,13,2.1,36,156,1.2,0.5
420,PNR15,3.6,98,18.7,7.7,6.93,8,42,3472,143,13,13,2.5,51,135,1.2,0.7
421,PNR8,3.7,100,17.9,7.6,6.93,12,37,3335,124,9,14,1.5,35,59,0.7,0.5
422,PNR9,3.7,100,18.7,7.5,6.93,18,48,3457,147,7,13,1.6,39,62,0.8,0.7

In [17]:
soil_list = tsoilnutrientdf['sample_id'].tolist()
temp_list = []
for i in soil_list:
    if i[0] == '8':
        temp_list.append(i)

for i in temp_list:
    tsoilnutrientdf.drop(tsoilnutrientdf[(tsoilnutrientdf['sample_id'] == i)].index, inplace=True)
    tsoilnutrientdf.drop(tsoilnutrientdf[(tsoilnutrientdf['sample_id'] == 'BLDRV1-')].index, inplace=True)
    tsoilnutrientdf.drop_duplicates(subset="sample_id",
                             keep='first', inplace=True)
soil_list = tsoilnutrientdf['sample_id'].tolist()
for i in range(len(soil_list)):
    if soil_list[i][0] == '1':
        soil_list[i] = soil_list[i][1:]
    if soil_list[i][0] == ' ':
        soil_list[i] = soil_list[i][1:]
print(len(soil_list))

368

In [18]:
tsoilnutrientdf['sample_id'] = soil_list
tsoilnutrientdf.tail()

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
418,PNR13,5.8,142,20.4,7.7,6.93,21,78,3777,155,12,13,3.7,98,92,1.1,1.1
419,PNR14,4.2,110,22.3,7.6,6.93,9,45,4217,131,9,13,2.1,36,156,1.2,0.5
420,PNR15,3.6,98,18.7,7.7,6.93,8,42,3472,143,13,13,2.5,51,135,1.2,0.7
421,PNR8,3.7,100,17.9,7.6,6.93,12,37,3335,124,9,14,1.5,35,59,0.7,0.5
422,PNR9,3.7,100,18.7,7.5,6.93,18,48,3457,147,7,13,1.6,39,62,0.8,0.7

In [19]:
# INSERT INTO (column names) VALUES (values to insert)
# The : indicates parameter names.
# They do not need to be the same as the columns we are inserting into, but it helps keep the code clean.
# They are matched up in order. For example, if instead of :lat I called it :x, then :x would be inserted into
# the lat column, since lat is the second column in the list of column names.
sql = """
INSERT INTO tSoilNutrients (sample_id, OM, ENR, CEC, pH, BpH,
    Phosphorus, Potassium, Calcium, Magnesium, Sulfur, Sodium,
    Zinc, Manganese, Iron, Copper, Boron) VALUES (:sample_id, :OM, :ENR, :CEC, :pH, :BpH,
    :Phosphorus, :Potassium, :Calcium, :Magnesium, :Sulfur, :Sodium,
    :Zinc, :Manganese, :Iron, :Copper, :Boron)
;"""


# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsoilnutrientdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [20]:
sql = """
CREATE VIEW tSoilNutrients AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tSoilNutrients;", conn)

,sample_id,OM,ENR,CEC,pH,BpH,Phosphorus,Potassium,Calcium,Magnesium,Sulfur,Sodium,Zinc,Manganese,Iron,Copper,Boron
0,BLDTT0,4.3,124.0,8.1,6.8,6.91,18.0,180.0,1193.0,178.0,3.0,7.0,2.3,321.0,78.0,1.5,0.5
1,BLDTT11,4.7,135.0,6.6,6.0,6.83,22.0,195.0,781.0,138.0,5.0,9.0,1.9,85.0,76.0,1.0,0.4
2,BLDTT12,4.6,133.0,6.6,6.1,6.84,23.0,266.0,770.0,131.0,5.0,9.0,1.6,78.0,82.0,0.9,0.3
3,BLDTT13,4.9,138.0,6.8,6.1,6.84,24.0,270.0,741.0,175.0,1.0,9.0,2.2,76.0,80.0,1.1,0.3
4,BLDTT14,5.4,148.0,7.3,5.8,6.79,32.0,229.0,766.0,172.0,8.0,9.0,2.6,64.0,87.0,1.0,0.3
5,BLDTT15,4.5,130.0,7.1,6.1,6.83,25.0,335.0,751.0,177.0,8.0,9.0,2.0,76.0,81.0,1.2,0.4
6,BLDTT16,5.0,140.0,7.1,6.0,6.82,14.0,152.0,859.0,151.0,10.0,9.0,1.7,163.0,79.0,1.1,0.4
7,BLDTT17,5.0,139.0,7.6,6.3,6.85,15.0,233.0,931.0,180.0,6.0,7.0,2.0,129.0,70.0,1.3,0.4
8,BLDTT18,4.7,134.0,7.0,5.7,6.78,19.0,112.0,790.0,144.0,5.0,8.0,2.0,94.0,95.0,1.5,0.4
9,BLDTT19,4.8,134.0,8.6,6.4,6.85,18.0,325.0,1042.0,201.0,3.0,9.0,2.3,102.0,87.0,1.4,0.5
10,BLDTT2,4.9,135.0,9.0,6.8,6.90,15.0,177.0,1335.0,188.0,3.0,7.0,3.0,308.0,68.0,1.4,0.6
11,BLDTT20,4.6,132.0,7.3,6.1,6.83,19.0,237.0,871.0,159.0,9.0,9.0,2.8,101.0,104.0,1.3,0.4
12,BLDTT21,5.6,150.0,8.1,6.2,6.83,16.0,281.0,967.0,184.0,5.0,9.0,3.4,150.0,108.0,1.4,0.5
13,BLDTT22,5.1,143.0,6.5,6.0,6.83,17.0,274.0,762.0,110.0,5.0,7.0,2.3,123.0,97.0,1.5,0.4
14,BLDTT23,4.9,140.0,5.9,5.6,6.79,16.0,127.0,659.0,98.0,9.0,8.0,2.1,104.0,160.0,1.7,0.4
15,BLDTT24,5.9,150.0,5.9,5.1,6.71,30.0,117.0,531.0,82.0,7.0,8.0,2.4,140.0,109.0,1.4,0.3
16,BLDTT25,5.0,145.0,3.7,5.7,6.85,19.0,134.0,402.0,65.0,4.0,8.0,2.2,101.0,109.0,1.1,0.2
17,BLDTT26,4.1,124.0,5.3,6.3,6.87,20.0,216.0,618.0,122.0,5.0,9.0,2.3,171.0,119.0,1.6,0.3
18,BLDTT27,4.0,124.0,4.1,5.8,6.85,18.0,143.0,445.0,82.0,3.0,9.0,1.5,240.0,125.0,1.5,0.2
19,BLDTT28,5.9,150.0,6.9,6.2,6.85,23.0,205.0,901.0,127.0,10.0,9.0,3.1,229.0,151.0,1.8,0.5
20,BLDTT29,5.3,149.0,4.9,5.8,6.84,20.0,136.0,574.0,84.0,6.0,9.0,2.6,243.0,211.0,2.0,0.4
21,BLDTT3,5.6,147.0,10.2,7.0,6.93,16.0,249.0,1498.0,247.0,5.0,8.0,3.1,328.0,70.0,1.5,0.8
22,BLDTT30,5.3,150.0,4.4,5.7,6.84,22.0,165.0,476.0,83.0,11.0,9.0,2.4,245.0,167.0,1.9,0.3
23,BLDTT31,5.1,147.0,3.8,6.0,6.87,14.0,61.0,510.0,56.0,6.0,9.0,1.3,193.0,116.0,1.0,0.3
24,BLDTT32,3.8,117.0,6.4,6.0,6.83,20.0,136.0,851.0,90.0,16.0,11.0,2.4,273.0,191.0,2.0,0.5
25,BLDTT33,5.1,143.0,6.5,5.9,6.82,17.0,99.0,869.0,97.0,9.0,9.0,2.0,232.0,181.0,1.8,0.4
26,BLDTT34,5.3,148.0,5.8,6.0,6.84,14.0,165.0,736.0,96.0,10.0,9.0,2.3,253.0,211.0,2.0,0.5
27,BLDTT35,5.4,150.0,5.8,5.7,6.81,17.0,173.0,669.0,88.0,6.0,7.0,2.1,199.0,169.0,1.8,0.5
28,BLDTT36,5.0,142.0,5.9,6.0,6.84,13.0,195.0,703.0,116.0,6.0,10.0,1.9,186.0,169.0,1.8,0.4
29,BLDTT37,3.6,115.0,5.1,5.9,6.84,13.0,163.0,584.0,97.0,2.0,11.0,1.9,165.0,161.0,1.5,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,RF3,11.3,150.0,12.3,5.9,6.72,40.0,116.0,1476.0,290.0,12.0,15.0,3.8,169.0,106.0,1.0,0.6
339,RF4,18.4,150.0,13.0,5.8,6.68,78.0,153.0,1341.0,400.0,18.0,16.0,6.5,204.0,121.0,1.0,0.6
340,RF5,12.4,150.0,9.3,5.4,6.67,58.0,108.0,881.0,230.0,19.0,15.0,4.8,203.0,144.0,1.0,0.3
341,RF6,11.8,150.0,11.3,6.2,6.79,50.0,141.0,1353.0,326.0,12.0,16.0,2.9,191.0,123.0,0.9,0.6
342,RF7,13.6,150.0,11.2,5.8,6.72,84.0,191.0,1219.0,298.0,15.0,14.0,5.9,132.0,113.0,1.1,0.4
343,RF8,14.1,150.0,13.1,5.1,6.44,63.0,146.0,1121.0,257.0,16.0,14.0,4.9,176.0,115.0,0.9,0.4
344,RF9,12.8,150.0,12.0,5.6,6.65,69.0,133.0,1346.0,248.0,11.0,14.0,4.7,180.0,110.0,1.0,0.4
345,TCP1,5.7,140.0,22.0,7.3,6.93,6.0,37.0,4189.0,111.0,12.0,15.0,3.5,22.0,122.0,1.4,0.7
346,TCP2,6.8,150.0,16.2,7.3,6.93,9.0,50.0,3011.0,108.0,11.0,16.0,3.7,30.0,126.0,1.1,0.8
347,TCP3,8.3,150.0,17.2,7.2,6.93,10.0,77.0,3179.0,129.0,8.0,15.0,4.6,38.0,132.0,1.2,1.1
348,TCP4,7.5,150.0,17.7,7.0,6.93,10.0,61.0,3303.0,113.0,11.0,14.0,4.1,39.0,130.0,1.2,1.1
349,PNR1,8.7,150.0,11.5,6.4,6.83,12.0,92.0,1647.0,238.0,8.0,13.0,5.0,265.0,102.0,0.9,0.7
350,PNR2,4.9,124.0,20.9,7.6,6.93,7.0,71.0,3814.0,196.0,8.0,13.0,2.3,67.0,61.0,1.3,0.9
351,PNR3,4.4,114.0,18.8,7.7,6.93,7.0,56.0,3478.0,139.0,9.0,15.0,1.6,43.0,72.0,1.0,0.6
352,PNR4,4.3,112.0,18.9,7.7,6.93,8.0,51.0,3536.0,121.0,8.0,14.0,1.4,35.0,93.0,1.0,0.5
353,PNR5,4.7,120.0,20.7,7.6,6.93,6.0,50.0,3862.0,144.0,10.0,15.0,1.5,35.0,95.0,1.4,0.6
354,PNR6,3.1,88.0,19.4,7.8,6.93,9.0,49.0,3615.0,142.0,7.0,13.0,1.5,35.0,65.0,0.8,0.5
355,PNR7,3.8,102.0,20.2,7.8,6.93,10.0,43.0,3771.0,147.0,10.0,13.0,1.7,52.0,79.0,0.8,0.6
356,TCP10,7.2,150.0,17.1,6.9,6.91,10.0,40.0,3193.0,91.0,12.0,16.0,4.7,32.0,149.0,1.4,1.1
357,TCP5,5.4,134.0,17.2,7.5,6.93,8.0,67.0,3237.0,92.0,14.0,15.0,3.7,30.0,95.0,1.1,0.9
358,TCP6,6.2,150.0,19.3,7.3,6.93,10.0,61.0,3611.0,117.0,13.0,21.0,5.7,36.0,132.0,2.0,1.2
359,TCP7,5.9,144.0,19.2,7.3,6.93,8.0,48.0,3605.0,123.0,10.0,16.0,4.8,24.0,145.0,2.3,1.1
360,TCP8,5.8,142.0,16.5,7.2,6.93,7.0,51.0,3098.0,97.0,12.0,14.0,3.5,28.0,130.0,1.6,1.1
361,TCP9,6.5,150.0,17.5,7.1,6.93,10.0,50.0,3301.0,95.0,15.0,16.0,4.9,34.0,104.0,1.6,1.0
362,PNR11,3.6,98.0,21.8,7.7,6.93,44.0,80.0,3965.0,205.0,11.0,13.0,3.8,70.0,97.0,1.2,1.0
363,PNR13,5.8,142.0,20.4,7.7,6.93,21.0,78.0,3777.0,155.0,12.0,13.0,3.7,98.0,92.0,1.1,1.1
364,PNR14,4.2,110.0,22.3,7.6,6.93,9.0,45.0,4217.0,131.0,9.0,13.0,2.1,36.0,156.0,1.2,0.5
365,PNR15,3.6,98.0,18.7,7.7,6.93,8.0,42.0,3472.0,143.0,13.0,13.0,2.5,51.0,135.0,1.2,0.7
366,PNR8,3.7,100.0,17.9,7.6,6.93,12.0,37.0,3335.0,124.0,9.0,14.0,1.5,35.0,59.0,0.7,0.5
367,PNR9,3.7,100.0,18.7,7.5,6.93,18.0,48.0,3457.0,147.0,7.0,13.0,1.6,39.0,62.0,0.8,0.7

## Create and fill table TPlantNutrients

In [21]:
curs.execute("DROP TABLE IF EXISTS tPlantNutrients;")


sql = """
CREATE TABLE tPlantNutrients (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    N_percent_dm REAL,
    P_percent_dm REAL,
    K_percent_dm REAL,
    Ca_percent_dm REAL,
    Mg_percent_dm REAL,
    Na_percent_dm REAL,
    S_percent_dm REAL,
    Zn_ppm_dm REAL,
    Mn_ppm_dm REAL,
    Fe_ppm_dm REAL,
    Cu_ppm_dm REAL,
    B_ppm_dm REAL,
    Al_ppm_dm REAL,
    PRIMARY KEY (sample_id)
)
;"""
curs.execute(sql)

In [22]:
tleafnutrientdf = pd.read_csv('./csv_folder/leaf_nutrients.csv')

In [23]:
tleafnutrientdf.shape

(223, 14)

In [24]:

sql = """
INSERT INTO tPlantNutrients (sample_id, N_percent_dm, P_percent_dm, K_percent_dm, Ca_percent_dm, 
Mg_percent_dm, Na_percent_dm, S_percent_dm, Zn_ppm_dm, Mn_ppm_dm, Fe_ppm_dm, Cu_ppm_dm, B_ppm_dm, Al_ppm_dm)
VALUES (:Sample_ID, :N_percent_dm, :P_percent_dm, :K_percent_dm, :Ca_percent_dm, 
:Mg_percent_dm, :Na_percent_dm, :S_percent_dm, :Zn_ppm_dm, :Mn_ppm_dm, :Fe_ppm_dm, :Cu_ppm_dm, :B_ppm_dm, :Al_ppm_dm)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tleafnutrientdf.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [25]:
sql = """
CREATE VIEW tPlantNutrients AS 

SELECT *
;"""

pd.read_sql("SELECT * FROM tPlantNutrients;", conn)

,sample_id,N_percent_dm,P_percent_dm,K_percent_dm,Ca_percent_dm,Mg_percent_dm,Na_percent_dm,S_percent_dm,Zn_ppm_dm,Mn_ppm_dm,Fe_ppm_dm,Cu_ppm_dm,B_ppm_dm,Al_ppm_dm
0,RRL1,NaN,0.21,4.01,0.83,0.29,0.01,0.37,29.0,281.0,234.0,8.0,24.0,130.0
1,RRL2,2.24,0.16,5.34,1.05,0.32,0.01,0.29,20.0,423.0,76.0,5.0,27.0,36.0
2,RRL3,NaN,0.20,4.75,0.63,0.27,0.04,0.22,21.0,469.0,68.0,5.0,32.0,18.0
3,RRL4,NaN,0.18,4.74,1.25,0.32,0.01,0.28,18.0,680.0,78.0,6.0,36.0,27.0
4,RRL5,3.00,0.26,3.51,1.20,0.44,0.01,0.29,29.0,507.0,66.0,7.0,23.0,22.0
5,RRL6,3.26,0.19,2.55,0.73,0.50,0.01,0.28,21.0,324.0,69.0,6.0,21.0,26.0
6,RRL7,NaN,0.21,3.67,0.88,0.22,0.01,0.32,17.0,509.0,65.0,8.0,25.0,18.0
7,RRL8,NaN,0.19,3.14,0.70,0.25,0.01,0.39,15.0,276.0,91.0,8.0,22.0,58.0
8,RRL9,3.39,0.18,3.23,0.65,0.30,0.01,0.35,17.0,476.0,72.0,8.0,30.0,23.0
9,RRL10,NaN,0.18,3.29,1.37,0.38,0.01,0.28,28.0,538.0,61.0,6.0,25.0,26.0
10,RRL11,3.28,0.22,2.56,0.64,0.30,0.01,0.30,26.0,432.0,68.0,8.0,27.0,21.0
11,RRL12,NaN,0.18,2.51,0.77,0.38,0.01,0.32,15.0,226.0,85.0,7.0,35.0,36.0
12,RRL13,NaN,0.18,2.83,1.91,0.44,0.01,0.25,28.0,320.0,77.0,7.0,31.0,25.0
13,RRL14,2.57,0.18,3.32,1.34,0.38,0.01,0.34,32.0,448.0,66.0,5.0,24.0,16.0
14,RRL15,2.44,0.16,3.13,1.91,0.63,0.01,0.23,38.0,392.0,57.0,5.0,30.0,16.0
15,RRL16,2.75,0.20,4.15,1.11,0.25,0.01,0.29,24.0,297.0,45.0,4.0,26.0,11.0
16,RRL17,2.75,0.22,4.53,1.02,0.39,0.01,0.19,29.0,249.0,57.0,5.0,29.0,16.0
17,RRL18,NaN,0.20,2.59,1.60,0.52,0.01,0.27,46.0,391.0,54.0,6.0,45.0,11.0
18,RRL19,2.68,0.24,3.42,1.22,0.47,0.01,0.26,24.0,282.0,58.0,5.0,27.0,13.0
19,RRL20,2.45,0.16,3.01,1.36,0.55,0.01,0.31,27.0,405.0,57.0,5.0,24.0,21.0
20,RRL21,2.75,0.17,4.61,1.26,0.44,0.01,0.20,30.0,207.0,54.0,5.0,40.0,13.0
21,RRL22,NaN,0.20,4.68,1.38,0.37,0.01,0.17,26.0,343.0,67.0,5.0,49.0,29.0
22,FRW1,3.46,0.27,2.20,1.08,0.28,0.01,0.26,17.0,32.0,79.0,7.0,24.0,20.0
23,FRW2,3.19,0.22,3.83,2.18,0.34,0.01,0.23,16.0,43.0,68.0,8.0,33.0,19.0
24,FRW3,2.83,0.33,3.67,2.74,0.44,0.01,0.24,21.0,66.0,51.0,7.0,35.0,10.0
25,FRW4,3.64,0.26,2.49,0.84,0.23,0.01,0.24,15.0,24.0,53.0,6.0,24.0,8.0
26,FRW5,3.00,0.26,3.74,2.45,0.34,0.01,0.21,17.0,47.0,45.0,7.0,34.0,9.0
27,FRW6,3.35,0.29,3.56,1.92,0.33,0.01,0.27,17.0,50.0,48.0,8.0,38.0,7.0
28,FRW8,3.19,0.41,3.12,2.03,0.31,0.01,0.28,25.0,36.0,65.0,8.0,26.0,12.0
29,FRW9,3.20,0.27,4.30,1.84,0.27,0.01,0.27,29.0,67.0,51.0,10.0,33.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,RF8,2.35,0.23,1.96,0.86,0.59,0.01,0.16,13.0,108.0,33.0,4.0,18.0,17.0
194,RF9,2.68,0.24,2.43,0.59,0.40,0.01,0.19,17.0,81.0,42.0,5.0,12.0,20.0
195,RF10,2.26,0.25,2.75,1.09,0.60,0.01,0.34,26.0,212.0,34.0,4.0,16.0,20.0
196,RF11,2.84,0.37,3.20,0.97,0.49,0.03,0.24,31.0,117.0,46.0,7.0,24.0,25.0
197,RF12,2.48,0.23,2.41,1.16,0.60,0.01,0.27,22.0,388.0,55.0,7.0,20.0,51.0
198,RF13,2.69,0.18,1.31,0.54,0.23,0.01,0.25,34.0,515.0,66.0,8.0,23.0,84.0
199,TCP1,2.08,0.15,1.28,1.82,0.41,0.01,0.37,11.0,26.0,52.0,5.0,16.0,22.0
200,TCP2,2.50,0.15,1.54,1.41,0.30,0.01,0.34,11.0,25.0,66.0,5.0,17.0,26.0
201,TCP3,2.53,0.15,2.09,1.87,0.27,0.01,0.30,17.0,28.0,63.0,6.0,26.0,23.0
202,TCP4,2.31,0.16,1.65,1.78,0.25,0.01,0.30,12.0,21.0,74.0,6.0,21.0,30.0
203,TCP5,2.45,0.17,1.75,1.96,0.27,0.01,0.33,15.0,16.0,53.0,6.0,28.0,17.0
204,TCP6,2.66,0.14,1.95,1.23,0.22,0.01,0.24,14.0,20.0,60.0,8.0,21.0,24.0
205,TCP7,3.17,0.14,1.81,1.74,0.33,0.01,0.47,19.0,28.0,69.0,6.0,22.0,20.0
206,TCP8,2.62,0.14,1.25,1.65,0.33,0.01,0.40,15.0,26.0,59.0,5.0,19.0,20.0
207,TCP9,2.85,0.14,1.97,1.82,0.31,0.01,0.42,19.0,20.0,53.0,8.0,30.0,24.0
208,TCP10,3.22,0.19,2.37,1.63,0.29,0.01,0.19,14.0,14.0,57.0,7.0,35.0,28.0
209,PNR1,2.23,0.28,3.38,1.25,0.60,0.01,0.17,14.0,86.0,39.0,6.0,27.0,10.0
210,PNR2,2.55,0.40,4.21,2.00,0.39,0.01,0.34,20.0,29.0,43.0,7.0,36.0,11.0
211,PNR3,2.64,0.42,3.92,1.57,0.33,0.01,0.26,22.0,26.0,42.0,8.0,22.0,10.0
212,PNR4,2.57,0.37,4.12,1.96,0.35,0.01,0.42,23.0,35.0,42.0,10.0,27.0,9.0
213,PNR5,2.68,0.34,4.49,2.05,0.29,0.01,0.43,18.0,38.0,51.0,7.0,42.0,13.0
214,PNR6,3.09,0.45,2.85,1.62,0.51,0.01,0.32,19.0,58.0,100.0,11.0,28.0,68.0
215,PNR7,2.91,0.51,1.95,2.08,0.59,0.01,0.27,54.0,103.0,53.0,11.0,34.0,14.0
216,PNR8,2.59,0.48,1.74,2.23,0.64,0.01,0.24,19.0,73.0,60.0,8.0,26.0,21.0
217,PNR9,3.21,0.50,2.51,2.00,0.53,0.01,0.27,18.0,75.0,54.0,10.0,40.0,17.0
218,PNR11,3.34,0.48,3.56,1.50,0.36,0.01,0.28,24.0,90.0,53.0,14.0,33.0,18.0
219,PNR13,1.91,0.21,1.55,2.33,0.55,0.01,0.35,13.0,39.0,103.0,5.0,21.0,40.0
220,PNR14,2.91,0.24,2.32,2.03,0.53,0.08,0.32,14.0,71.0,67.0,6.0,25.0,21.0
221,PNR15,2.72,0.22,2.13,2.40,0.60,0.06,0.38,12.0,30.0,50.0,6.0,34.0,26.0
222,PNR16,2.00,0.20,1.48,2.89,0.71,0.01,0.45,16.0,38.0,48.0,4.0,28.0,17.0

## Create and Fill Soil Micro Table

In [46]:
curs.execute("DROP TABLE IF EXISTS tSoilMicrobeGenera;")

sql = """
CREATE TABLE tSoilMicrobeGenera (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    genera TEXT,
    relative_abundance REAL,
    PRIMARY KEY (sample_id, genera)
)
;"""
curs.execute(sql)

In [47]:
tsoilmicrobe = pd.read_csv('./csv_folder/final_soil_microbe.csv')

In [49]:
sql = """
INSERT INTO tSoilMicrobeGenera (sample_id, genera, relative_abundance)
VALUES (:sample_id, :genera, :relative_abundance)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in tsoilmicrobe.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [51]:
sql = """
CREATE VIEW tSoilMicrobeGenera AS 

SELECT *
;"""

testdf = pd.read_sql("SELECT * FROM tSoilMicrobeGenera;", conn)

## Create and Fill Plant Micro Table

In [65]:
plant_micro = pd.read_csv('./csv_folder/final_plant_microbe.csv')

In [66]:
plant_micro.head()

,Unnamed: 0,sample_id,genera,relative_abundance
0,0,RRL1,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00000
1,1,RRL2,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.01333
2,2,RRL3,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00000
3,3,RRL4,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00943
4,4,RRL5,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00581

In [67]:
curs.execute("DROP TABLE IF EXISTS tPlantMicrobeGenera;")

sql = """
CREATE TABLE tPlantMicrobeGenera (
    sample_id TEXT NOT NULL REFERENCES tSample(sample_id),
    genera TEXT,
    relative_abundance REAL,
    PRIMARY KEY (sample_id, genera)
)
;"""
curs.execute(sql)

In [68]:
sql = """
INSERT INTO tPlantMicrobeGenera (sample_id, genera, relative_abundance)
VALUES (:sample_id, :genera, :relative_abundance)
;"""

# I'm going to loop over the dataframe such that each row will be returned as a dictionary.
# The keys for the dictionary will be the column names, and the values will be the values in the dataframe.
# I've ensured that the names in my dataframe match exactly the parameter names above - the way this works
# is that SQL will look for that key in the dictionary.  For example, since I have a parameter :loc_id, 
# it will look for a key in the dictionary called loc_id.





for row in plant_micro.to_dict(orient='records'):
    # Uncomment this to see the dictionaries
    #print(row)
    
    # The second input for curs.execute() are parameters
    curs.execute(sql, row)

In [69]:
sql = """
CREATE VIEW tPlantMicrobeGenera AS 

SELECT *
;"""

test_df = pd.read_sql("SELECT * FROM tPlantMicrobeGenera;", conn)

In [70]:
test_df.shape

(319770, 3)