In [1]:
# Goal output for data

# Example dataframe for set up 
import pandas as pd
import numpy as np
# intialise data of lists.
example_data = {'samples':['CMB_1', 'CMB_1', 'LM_1', 'LM_1'],
        'paired_end':['R1', 'R2', 'R1', 'R2'],
        'strain_1':[0, 1, 1, 1],
        'strain_2':[1, 0, 1, 0],
        'strain_3':[0, 1, 0, 1],
        'strain_4':[1, 1, 1, 1],
        'strain_5':[1, 1, 1, 0],
        'strain_6':[1, 1, 1, 1],
        'strain_7':[0, 1, 1, 1],
        'strain_8':[1, 1, 1, 1]}
 
example_df = pd.DataFrame(example_data)
example_df.head()

,paired_end,samples,strain_1,strain_2,strain_3,strain_4,strain_5,strain_6,strain_7,strain_8
0,R1,CMB_1,0,1,0,1,1,1,0,1
1,R2,CMB_1,1,0,1,1,1,1,1,1
2,R1,LM_1,1,1,0,1,1,1,1,1
3,R2,LM_1,1,0,1,1,0,1,1,1

In [13]:
import dataProcessing as DP

In [14]:
import VDBarChart as VDBP

In [15]:
# reading csv file 
df = DP.data_processing('/Users/15404/Documents/GitHub/research_project/raw_data/', 'genus', False)

In [19]:
import pandas as pd
my_path = '/Users/15404/Documents/GitHub/research_project/raw_data/'
test_df = DP.data_processing(my_path, 'genus', False)
#test_df.head()

In [21]:
test_df[test_df > 0] = 100