In [11]:
import pandas as pd
import numpy as np
import sqlite3
import plotly.express as px
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
import statsmodels
import statsmodels.api as sm
from statsmodels.multivariate.manova import MANOVA
from scipy import stats

from useful_functions import *

In [6]:
table = "tPlantMicrobeGenera"
full_df = import_microbe_data(table)
full_df.shape

(0, 3)

In [12]:
tables_to_join = ["tPlantMicrobeGenera", "tSample", "tPlantDNA"]
common_column = "sample_id"
full_df = import_all_data(tables_to_join, common_column)
full_df.shape

(277695, 15)

In [13]:
full_df.head()

,sample_id,genera,relative_abundance,sample_id,site_id,collect_date,sample_id,V1,V2,species,PC1,PC2,PC3,PC4,PC5
0,RRL1,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00000,RRL1,RRL,6/25/2021,RRL1,0.753244,0.246756,exaltata,0.194769,0.048276,-0.023880,-0.017138,-0.039842
1,RRL2,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.01333,RRL2,RRL,6/25/2021,RRL2,0.708412,0.291588,exaltata,0.154924,0.071277,0.000923,-0.025830,0.005592
2,RRL3,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00000,RRL3,RRL,6/25/2021,RRL3,0.778046,0.221954,exaltata,0.187750,0.035009,-0.016006,-0.012529,-0.011169
3,RRL4,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00943,RRL4,RRL,6/25/2021,RRL4,0.720367,0.279633,exaltata,0.167167,0.046053,-0.032754,-0.016192,-0.028988
4,RRL5,Archaea|Euryarchaeota|Halobacteria|Halobacteri...,0.00581,RRL5,RRL,6/25/2021,RRL5,0.572487,0.427513,exaltata,0.099801,0.089800,0.000613,-0.004979,0.017524

In [14]:
#drop duplicate columns
df = full_df
df = df.T.drop_duplicates().T
df.shape

(277695, 13)